
<br>

<body>
<p>
    Installing Ionic
    
    Ionic apps are created and developed primarily through the Ionic<br>
     command line utility (the “CLI”), and use Cordova to build/deploy as<br>
    a native app. This means we need to install a few utilities to get <br>
    developing.
    Getting Node and NPM
    Most of the tooling in the CLI is based on Node and is managed through npm.<br>
    The quickest way to get Node and NPM installed on your machine is through the<br>
    NodeJS installer. Be sure to install the LTS version of Node. Close any<br>
    terminals/command prompts you may have open, run the installer, and launch<br>
    a new terminal window. To verify you have everything installed correctly,<br>
    you can run npm --version and node --version. If this errors, please resolve<br>
    before moving on.
    Ionic CLI and Cordova
    With Node and NPM setup,<br> let’s install the Ionic and Cordova CLI.
    $ npm install -g ionic cordova
    Note: The -g means this is a global install, so for Windows you will need<br>
    to open
    an Admin command prompt. For Mac/Linux, you might need to run the command with<br>
    sudo.
    Once that’s done, create your first Ionic app:
    $ ionic start helloWorld blank
    To run your app, cd into the directory that was created and then run the ionic<br>
    serve command to test your app right in the browser!<br>
    $ cd helloWorld
    $ ionic serve
    
    
</p>
</body>