<br>

<h1>Ionic Tutorial</h1>

<body>
<p>
  
Improve this doc 
Now that you have Ionic and its dependencies installed,<br> you can build your first app! This section will guide you through the process<br> of starting a new application, adding pages, navigating between those pages, and more. Let’s get started!<br>
Ionic uses TypeScript for its code.<br> If you’re unfamiliar with TypeScript, don’t worry, it’s very similar to regular JavaScript.<br> But if you want to read up on it, take a look at this resource page.<br>
Starting a New Ionic App<br>
To start a new app, open your terminal/command prompt and run:
$ ionic start MyIonicProject tutorial<br>
start will tell the CLI create a new app.
MyIonicProject will be the directory name<br> and the app name from your project.
tutorial will be the starter template for your project.<br>
Along with creating your project,<br> this will also install node modules for the application,<br> and prompt you if you want Cordova set up.<br>
Along with the tutorial template,<br> Ionic also provides the following official templates:<br>
tabs : a simple 3 tab layout
sidemenu: a layout with a swipable menu on the side<br>
blank: a bare starter with a single page<br>
super: starter project with over 14 ready to use page designs<br>
tutorial: a guided starter project.
</p>
</body>
