<br>
<h1>WHAT IS IONIC</h1>

  <body>

<p>

</p>


  Ionic Pro is a powerful set of services
   and features built on top of the flagship<br> 
  Ionic Framework that brings a totally new level of 
  app development agility to
   mobile dev teams.<br>
Ionic Pro has several core services that help you<br> 
through the full app lifecycle, including
Deploy: Update your app remotely in real-time without app store delays.
<br>View: Test your app with testers and get feedback immediately<br> 
without complicated device and provisioning profile management.<br>
Package: Build app binaries in the cloud for iOS and Android.<br>
Monitoring: Track runtime errors in production back to your original 
TypeScript.
<br>
Each one of these services is based around a simple git-based workflow 
that should be familiar to any app developer.
  </body>